# Ignorar archivos de entorno virtual
/venv/
.env
.env.local
.env.development.local
.env.production.local

# Ignorar archivos de dependencias de Node.js
*/node_modules/

# Ignorar archivos de caché de Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar archivos de configuración local
*.local

# Ignorar archivos de base de datos
*.sqlite3
*.db

# Ignorar archivos de compilación
/build/
/dist/
*.egg-info/

# Ignorar archivos de logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos de sistema
.DS_Store
Thumbs.db